html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: block flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  width: 100vw;
  min-height: 100vh;
  height: 100vh;
  margin: 0;
}

#root {
  height: 50vmin;
}

.game {
  display: block flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
}

.game-main {
  display: block flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-grow: 1;
}

.status {
  margin: 20px;
}

.game-board {
  display: block grid;
  grid-template-columns: repeat(3, 50px);
  grid-template-rows: repeat(3, 50px);
  height: 50%;
  width: 50%;
  margin: 0;
}

ol {
  list-style-type: none;
  margin: 0;
  margin-left: 40px;
  padding: 0;
}
