:root {
  --square-size: 100px;
  --gap-size: 4px;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: block flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  width: 100vw;
  min-height: 100vh;
  height: 100vh;
  margin: 0;
}

#root {
  display: block flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 70%;
  min-height: 70%;
  height: 70%;
}

.game {
  display: block flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-grow: 1;
}

.game-main {
  display: block flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
}

.status {
  margin: 40px;
  font-size: x-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.x {
  color: blue;
}

.o {
  color: green;
}

.game-board {
  display: block grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 0;
  position: relative;
  height: calc(3 * var(--square-size) + 2 * var(--gap-size));
  width: calc(3 * var(--square-size) + 2 * var(--gap-size));
  gap: var(--gap-size);
}

.grid-line {
  position: absolute;
  background-color: gray;
  border-radius: var(--gap-size);
}

.grid-line.v-1 {
  width: var(--gap-size);
  height: 100%;
  left: var(--square-size);
}

.grid-line.v-2 {
  width: var(--gap-size);
  height: 100%;
  right: var(--square-size);
}

.grid-line.h-1 {
  width: 100%;
  height: var(--gap-size);
  top: var(--square-size);
}

.grid-line.h-2 {
  width: 100%;
  height: var(--gap-size);
  bottom: var(--square-size);
}

.square {
  background-color: white;
  border-radius: 0;
  font-size: 80px;
  border: none;
}

.square:hover {
  cursor: pointer;
  background-color: rgb(211 211 211 / 0.5);
}

.square.x {
  color: blue;
}

.square.x:hover, .square.x.win {
  background-color: rgb(0 0 255 / 0.2);
}

.square.o {
  color: green;
}

.square.o:hover, .square.o.win {
  background-color: rgb(0 128 0 / 0.2);
}

.game-info {
  display: block flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 40px;
  width: 300px;
}

ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

ol li:not(:first-child) {
  margin-top: 10px;
}

.history-item {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.history-item.x {
  border: 2px solid blue;
}

.history-item.o {
  border: 2px solid green;
}

.history-item:hover {
  cursor: pointer;
}

.history-item.x:hover {
  background-color: rgb(0 0 255 / 0.1);
}

.history-item.o:hover {
  background-color: rgb(0 128 0 / 0.1);
}
